{% extends "base.html" %}

{% block title %} Applications {% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">

    <div class="border border-border p-6  rounded shadow-lg w-full max-w-md ">
        <h2 class="text-2xl font-semibold mb-6 ">Create New Application</h2>

        <form method="post" action="new-application" class="flex flex-col gap-2">

            <div class="input-form">
                <label for="name" class="">Application Name</label>
                <input type="text" id="name" name="name" required placeholder="Name of your application">
            </div>

            <div class="input-form">
                <label for="description" class="">Application Description</label>
                <textarea id="description" name="description" placeholder="Description for your application" rows="4" maxrows="5"></textarea>
            </div>

            <div class="input-form mb-6">
                <label for="prefix" class="">API prefix</label>
                <input id="prefix" name="prefix" placeholder="Prefix your end-points" required>
            </div>

            <div class="flex justify-end gap-2">
                <button type="button" onclick="window.location.href='/'" class="button-destructive">
                    Cancel
                </button>

                <button type="submit" class="button">
                    Create
                </button>
            </div>
        </form>
    </div>

</div>
{% endblock %}