{% extends "base.html" %}

{% block title %} Applications {% endblock %}


{% block content %}
<div class="min-h-screen flex items-center justify-center">

    <div class="border border-border flex">
        <!-- menu -->
        <div class="flex-1 p-2">
            <div>
                <h1>Welcome</h1>
                <p>Create a new application or select one from the list to get started</p>
            </div>

            <a href="new-app">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z" />
                </svg>
                Create new application</a>
        </div>

        <div class="h-auto border border-border"></div>


        <!-- application list -->
        <div class="flex-1 overflow-y-scroll max-h-[400px]">
            <h1 class="sticky top-0 backdrop-blur-sm p-2">Applications</h1>
            <ul class="px-4 gap-2">
                <li>
                    <p>Test app 1</p>
                </li>

                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
                <li>
                    <p>Test app 1</p>
                </li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}